/*--------------------------------------------------------------------------
 *
 * body
 *
 *
--------------------------------------------------------------------------*/

.dr-menu {
	width: 100%;
	height: 100vh;
	padding: 10vh 0px;
	background-color: #fff5e7d8;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	position: fixed;
	top: 0;
	margin: 0 auto;
	z-index: 2;

	opacity: 1;
	
	transition-duration: 1s;
}

.dr-hidden {
	opacity: 0;
	z-index: -1;
}

.dr-links {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dr-fs1 {
	font-size: 1.8rem;
	line-height: 1rem;
}

.dr-fs2 {
	font-size: 0.6rem;
	line-height: 1.8rem;
}

.dr-icon {
	font-size: 1.6rem;
}

.dr-link {
	width: 35vw;
	display: flex;
	justify-content: center;
	transition-duration: 2s;
	padding-top: 1rem;
	padding-bottom: 0.2rem;
	outline: 0.15vw solid transparent;
	outline-offset: 0px;
	margin-bottom: 0.5rem;
}

.dr-link-w50_mobile {
	width: 50vw!important;
}

.dr-link:hover {
	animation: light .8s infinite;
	outline-color: #e7b06c;
}

@keyframes light {
	100% { 
	outline-color: transparent;
	outline-offset: 0.3vw;
	}
}

.dr-container {
	width: 90%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 auto;
}

.dr-logo {
	width: 70vw;
}

.dr-line {
	background-color: #e7b06c;
	height: 0.1vw;
	width: 95%;
	margin: 1rem 0 1.5rem 0;
}

.dislay-none {
	display: none;
}

.dr-saup {
	transform: translate(0, 5vh);
}

.dr-hide {
	opacity: 0;
}