




.theme--light.v-timeline .v-timeline-item__dot {
	z-index: 1;
}



body {
	font-family: Kosugi Maru, sans-serif;
}

.font-E1 {
	font-family: 'Varela Round', sans-serif;
}

.font-E2 {
	font-family: Libre Baskerville, serif;
}

.font-E3 {
	font-family: 'Allura', cursive;
}

.font-J1 {
	font-family: Kosugi Maru, sans-serif;
}





.co-black {
	color: #333;
}

.co-white {
	color: #fafafa;
}

.co-brown {
	color: #e7b06c;
}

.co-pink {
	color: #ff4d91;
}

.co-grey {
	color: #9b9b9b;
}






.fs-1_2rem {
	font-size: 1.2rem;
}

.fs-2_5rem {
	font-size: 2.5rem;
}

.fs-0_8rem {
	font-size: 0.8rem;
}

.lh-110 {
	line-height: 110%;
}

.lh-120 {
	line-height: 120%;
}


.bg-none {
	background-color: transparent;
}


/*--------------------------------------------------------------------------
 *
 * scrollbar
 *
 *
--------------------------------------------------------------------------*/

html::-webkit-scrollbar {
	width: 0.8vw;
}
  
  /* スクロールの背景の設定 */
  html::-webkit-scrollbar-track {
	background-color: transparent;
}
  
  /* スクロールのつまみ部分の設定 */
  html::-webkit-scrollbar-thumb {
	border-radius: 2vw;
	background: #ffdbae;
	border: 0.2vw solid #fafafa;
}



/*--------------------------------------------------------------------------
 *
 * scrollanime
 *
 *
--------------------------------------------------------------------------*/

.sa {
	opacity: 0;
	transition: all .8s ease;
}

.sa.show {
	opacity: 1;
	transform: none;
}
  
.sa--up {
	transform: translate(0, 10vh);
}





.v-line {
	font-size: 0.5rem;
	margin-left: 2rem;
}






/*--------------------------------------------------------------------------
 *
 * displayのみ適応(範囲は仮設定)
 *
 *
--------------------------------------------------------------------------*/

@media screen and (min-aspect-ratio: 1/1) { 
	.section {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 30vh;
	}
	
	.section-2 {
		width: 70%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 40vh;
	}

	.co-black_dis {
		color: #333;
	}
	
	.co-white_dis {
		color: #fafafa;
	}
	
	.co-brown_dis {
		color: #e7b06c;
	}
	
	.co-pink_dis {
		color: #ff4d91;
	}
	
	.co-grey_dis {
		color: #9b9b9b;
	}




	.fs-1_2rem_dis {
		font-size: 1.2rem;
	}
	
	.fs-2_5rem_dis {
		font-size: 2.5rem;
	}
	
	.fs-0_8rem_dis {
		font-size: 0.8rem;
	}
	
	.lh-110_dis {
		line-height: 110%;
	}
	
	.lh-120_dis {
		line-height: 120%;
	}









	.article-container {
		width: 80%;
		padding: 8vh 6vw;
		margin: 5vh auto;
		background-color: #fafafa;
		box-shadow: 0 0 0.5vw #ddd;
	}





	.tag-dmy {
		background-color: red;
		color: #fafafa;
		text-align: center;
		width: 2.6rem;
		height: 1.2rem;
		margin: 0.1rem;
		border-radius: 10%;
		font-size: 0.8rem;
		line-height: 1.2rem;
		font-family: 'Varela Round', sans-serif;
	}
	
	.tag-dmy-small {
		background-color: red;
		color: #fafafa;
		text-align: center;
		width: 2rem;
		height: 1rem;
		margin: 0.1rem;
		border-radius: 10%;
		font-size: 0.6rem;
		line-height: 1rem;
		font-family: 'Varela Round', sans-serif;
	}
	
	.tag-info {
		background-color: #ff4d91;
		color: #fafafa;
		text-align: center;
		width: 2.6rem;
		margin: 0.1rem;
		border-radius: 10%;
		font-size: 0.8rem;
		line-height: 1.2rem;
		font-family: 'Varela Round', sans-serif;
	}
	
	.tag-info-small {
		background-color: #ff4d91;
		color: #fafafa;
		text-align: center;
		width: 2rem;
		height: 1rem;
		margin: 0.1rem;
		border-radius: 10%;
		font-size: 0.6rem;
		line-height: 1rem;
		font-family: 'Varela Round', sans-serif;
	}
	
	.tag-3 {
		background-color: #AA96DA;
		text-align: center;
		width: 100%;
		margin: 15% auto;
		border-radius: 10%;
		font-size: 0.8rem;
		line-height: 1.2rem;
	}
	
	.tag-4 {
		background-color: #A8D8EA;
		text-align: center;
		width: 100%;
		margin: 15% auto;
		border-radius: 10%;
		font-size: 0.8rem;
		line-height: 1.2rem;
	}
	
	.tag-5 {
		background-color: #FFFFD2;
		text-align: center;
		width: 100%;
		margin: 15% auto;
		border-radius: 10%;
		font-size: 0.8rem;
		line-height: 1.2rem;
	}
}

/*--------------------------------------------------------------------------
 *
 * mobileのみ適応(範囲は仮設定)
 *
 *
--------------------------------------------------------------------------*/

@media screen and (max-aspect-ratio: 1/1) {
	.section {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 25vh;
	}
	
	.section-2 {
		width: 70%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 40vh;
	}

	.co-black_mob {
		color: #333;
	}
	
	.co-white_mob {
		color: #fafafa;
	}
	
	.co-brown_mob {
		color: #e7b06c;
	}
	
	.co-pink_mob {
		color: #ff4d91;
	}
	
	.co-grey_mob {
		color: #9b9b9b;
	}



	.fs-1_2rem_mob {
		font-size: 1.2rem;
	}
	
	.fs-2_5rem_mob {
		font-size: 2.5rem;
	}
	
	.fs-0_8rem_mob {
		font-size: 0.8rem;
	}
	
	.lh-110_mob {
		line-height: 110%;
	}
	
	.lh-120_mob {
		line-height: 120%;
	}




	.article-container {
		width: 90%;
		padding: 3vh 5vw;
		margin: 3vh auto;
		background-color: #fafafa;
		box-shadow: 0 0 0.5vw #ddd;
	}






	.tag-dmy {
		background-color: red;
		color: #fafafa;
		text-align: center;
		width: 2.6rem;
		height: 1.2rem;
		margin: 0.1rem;
		border-radius: 10%;
		font-size: 0.8rem;
		line-height: 1.2rem;
		font-family: 'Varela Round', sans-serif;
	}
	
	.tag-info {
		background-color: #ff4d91;
		color: #fafafa;
		text-align: center;
		width: 2.6rem;
		margin: 0.1rem;
		border-radius: 10%;
		font-size: 0.8rem;
		line-height: 1.2rem;
		font-family: 'Varela Round', sans-serif;
	}
	
	.tag-dmy-small {
		background-color: red;
		color: #fafafa;
		text-align: center;
		width: 2.4rem;
		height: 1rem;
		margin: 0.1rem;
		border-radius: 10%;
		font-size: 0.6rem;
		line-height: 1rem;
		font-family: 'Varela Round', sans-serif;
	}
	
	.tag-info-small {
		background-color: #ff4d91;
		color: #fafafa;
		text-align: center;
		width: 2.4rem;
		height: 1rem;
		margin: 0.1rem;
		border-radius: 10%;
		font-size: 0.6rem;
		line-height: 1rem;
		font-family: 'Varela Round', sans-serif;
	}
	
	.tag-3 {
		background-color: #AA96DA;
		text-align: center;
		width: 100%;
		margin: 15% auto;
		border-radius: 10%;
		font-size: 0.8rem;
		line-height: 1.2rem;
	}
	
	.tag-4 {
		background-color: #A8D8EA;
		text-align: center;
		width: 100%;
		margin: 15% auto;
		border-radius: 10%;
		font-size: 0.8rem;
		line-height: 1.2rem;
	}
	
	.tag-5 {
		background-color: #FFFFD2;
		text-align: center;
		width: 100%;
		margin: 15% auto;
		border-radius: 10%;
		font-size: 0.8rem;
		line-height: 1.2rem;
	}
}