/*--------------------------------------------------------------------------
 *
 * news
 *
 *
--------------------------------------------------------------------------*/


.news-window-container {
	width: 100%;
	height: 60vw;
	display: grid;
	grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% ;
	grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% ;
}

.news-window-img-container {
	grid-row: 2 / 16;
	grid-column: 1 / 17;
	width: 100%;
	height: 95%;
	overflow: hidden;
	border: 2px solid #e7b06c;
	object-fit: contain;
}

.news-window-info {
	background-color: #e7b06c;
	grid-row: 5 / 21;
	grid-column: 2 / 20;
	display: grid;
	grid-template-columns: 2.5% 83% 9% 1.5% ;
	grid-template-rows: 2.5% 64% 31% 2.5%;
}

.news-window-info-text {
	grid-column: 2 / 4;
	grid-row: 3 / 4;
}

.news-window-info-tag {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

.newstag-dmy {
	background-color: red;
	color: #fafafa;
	text-align: center;
	width: 2.6rem;
	height: 1.2rem;
	margin: 0.1rem;
	border-radius: 10%;
	font-size: 0.8rem;
	line-height: 1.2rem;
	font-family: 'Varela Round', sans-serif;
}

.newstag-info {
	background-color: #ff4d91;
	color: #fafafa;
	text-align: center;
	width: 2.6rem;
	margin: 0.1rem;
	border-radius: 10%;
	font-size: 0.8rem;
	line-height: 1.2rem;
	font-family: 'Varela Round', sans-serif;
}

.newstag-dmy-small {
	background-color: red;
	color: #fafafa;
	text-align: center;
	width: 2.4rem;
	height: 1rem;
	margin: 0.1rem;
	border-radius: 10%;
	font-size: 0.6rem;
	line-height: 1rem;
	font-family: 'Varela Round', sans-serif;
}

.newstag-info-small {
	background-color: #ff4d91;
	color: #fafafa;
	text-align: center;
	width: 2.4rem;
	height: 1rem;
	margin: 0.1rem;
	border-radius: 10%;
	font-size: 0.6rem;
	line-height: 1rem;
	font-family: 'Varela Round', sans-serif;
}

.newstag-3 {
	background-color: #AA96DA;
	text-align: center;
	width: 100%;
	margin: 15% auto;
	border-radius: 10%;
	font-size: 0.8rem;
	line-height: 1.2rem;
}

.newstag-4 {
	background-color: #A8D8EA;
	text-align: center;
	width: 100%;
	margin: 15% auto;
	border-radius: 10%;
	font-size: 0.8rem;
	line-height: 1.2rem;
}

.newstag-5 {
	background-color: #FFFFD2;
	text-align: center;
	width: 100%;
	margin: 15% auto;
	border-radius: 10%;
	font-size: 0.8rem;
	line-height: 1.2rem;
}




.news-list-container {
	width: 45%;
	margin-top: 12vw;
}

.news-list-dia-position {
	height: 50vw;
}

.news-list-dia {
	width: 40vw;
	height: 40vw;
	display: grid;
	grid-template-rows: 20vw 20vw;
	grid-template-columns: 20vw 20vw;
	transform: rotate(45deg);
}

.news-dia1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	padding: 4%;
}

.news-dia2 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	padding: 4%;
}

.news-dia3 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	padding: 4%;
}

.news-dia4 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	padding: 4%;
}

.news-dia-img {
	width: 100%;
	height: 100%;
	border: 0.2vw solid #e7b06c;
}

.news-list-button {
	height: 20%;
}

.m-news-line {
	margin: 0.5rem 0;
	border-bottom: 0.1vw solid #e7b06c;
}